.nav-list{
    margin-top: 0.5px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
}

.nav-item{
    color:blueviolet;
    font-weight:bold;
    list-style-type: none;
   
}

.active{
    color: red;
    padding: 0px 5px;
    background-color: aliceblue;
    border-radius: 25%;
    text-decoration: underline;
}