.services-container{
    background: rgb(90,184,233);
    background: linear-gradient(180deg, rgb(174, 222, 249) 57%, rgba(34, 197, 230, 0.936) 100%);
    width: 100vw;
    height: 100vh;
    
}
.services-heading{
    color: whitesmoke;
    opacity: 0.8;
}

.item-1{
    width: 80vw;
    height: 25vh;
    border: 1px solid red;
    margin-top: 2em;
    margin-left: 5em;
    display: flex;
    justify-content: space-between;
}

.item-1-para{
    align-self: center;
    justify-content: flex-start;
}

.item-1-img img{
    width:20rem;
    height:100%;
    border: 1px solid green;
}

    
